.calendar-header {
    display: flex;
    justify-content: center;
    background-color: #f7f5f5;
    font-size: 1.5rem;
    padding: 1vh 0;
}

.calendar-header .calendar-header-item {
    display: inherit;
    height: 5vmax;
    align-items: center;
}

.calendar-header #calendar_header {
    font-size: 1.5rem;
    font-weight: bold;
}
